/*-- scss:defaults --*/
@import url(https://fonts.bunny.net/css?family=aleo:400,400i,700,700i,900,900i);
$link-color: #3c3836;
$primary: #ffffff;
$body-color: #3c3836;
$font-family-sans-serif: "Aleo", sans-serif !default;

/*add hyphenation*/
p, .abstract {
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

/*style banner*/
.quarto-title-banner {
  background: var(--bs-body-bg) !important;
}

/*style hyperlinks*/
.content a {
  color: var(--bs-body-color) !important;
  text-decoration: underline !important;
  text-decoration-color: #fabd2f !important;
  text-decoration-thickness: 2px;
  transition: 0.3s !important;
}
.content a:hover {
  color: var(--bs-body-color) !important;
  text-decoration-style: wavy !important;
}
#title-block-header a {
  color: var(--bs-body-color) !important;
}

/*style sidebar*/
.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
  color: var(--bs-body-color) !important;
  border-left: 1px solid var(--bs-body-color) !important;
}
.sidebar nav[role=doc-toc] ul>li>a:hover, .sidebar nav[role=doc-toc] ul>li>ul>li>a:hover {
  color: var(--bs-body-color) !important;
  border-left: 1px solid var(--bs-body-color) !important;
}

/*style tables*/
.gt_table {
  font-family: inherit !important;
  font-size: 0.9rem !important;
}

/*style tabset*/
.nav-link, .nav-link:hover {
  color: var(--bs-body-color) !important;
}

/*style selections*/
::-moz-selection {
  /* Code for Firefox */
  color: var(--primary);
  background: #fabd2f;
}

::selection {
  color: var(--primary);
  background: #fabd2f;
}

/*buttons*/
a.btn.btn-primary {
  text-decoration: none !important;
  border: 1px solid var(--bs-body-color);
  border-radius: 7px;
  padding: .6em;
  margin: 5px;
  font-weight: 700;
  width: 100%
}

.panel-tabset a {
  text-decoration: none !important;
}

.breadcrumb a {
  text-decoration: none !important;
}